/* ---------------------------------------------
   Variables (Design Tokens)
--------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --font-jetbrains: "JetBrains Mono", monospace;

  --color-bg: #ffffff;
  --color-text: #111827;
  --color-muted: rgba(0, 0, 0, 0.4);
  --color-link: #B4B;
  --color-link-hover: #B4B;
  --color-accent: #213547;

  --space-xs: 0.25rem;
  --space-sm: 0.75rem;
  --space-md: 1.5rem;
  --space-lg: 3rem;
  --space-xl: 4.5rem;

  --max-content-width: 75ch;
}

/* ---------------------------------------------
   Light/Dark Mode
--------------------------------------------- */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #0f0f0f;
    --color-text: #e5e7eb;
    --color-muted: #9ca3af;
    --color-link: #B4B;
    --color-link-hover: #B4B;
  }
} */

/* ---------------------------------------------
   Global Base Styles
--------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-jetbrains);
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size: 0.875rem;
  line-height: 1.6;
  color: var(--color-text);
  background: var(--color-bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--color-link);
  text-decoration: none;
}

a:hover {
  color: var(--color-link-hover);
  text-decoration: underline;
}

/* Headings */
h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
  margin-bottom: var(--space-sm);
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.375rem;
}

/* Typography Utilities */

.lead {
  max-width: var(--max-content-width);
  margin-bottom: var(--space-md);
  color: var(--color-text);
}

/* ---------------------------------------------
   Layout / Containers
--------------------------------------------- */

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 5rem 0;
  max-width: 75ch;
  margin-inline: auto;
  min-height: 100vh;
}

.content {
  max-width: var(--max-content-width);
  margin: 0 auto;
}

/* ---------------------------------------------
   Navigation Links (Main Header)
--------------------------------------------- */

.nav {
  display: flex;
  gap: var(--space-md);
  margin-bottom: var(--space-md);
}

.links a {
  display: inline-block;
  margin-right: var(--space-md);
  padding: var(--space-sm) var(--space-md);
  text-decoration: none;
  border: 1px solid var(--color-text);
  border-radius: 4px;
  color: var(--color-text);
  font-weight: 500;
}

.links a:hover {
  background: var(--color-link);
  color: white;
}

/* ---------------------------------------------
   About Block
--------------------------------------------- */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
}

.header .header-title h1 {
  margin: 0;
  font-size: 1.875rem;
  font-weight: normal;
}

.header .header-title h2 {
  margin: 0;
  font-size: 1.5rem;
}

.header .header-links {
  display: flex;
  gap: 2rem;
}

.header .header-links a {
  color: var(--color-muted);
  text-decoration: none;
  padding-bottom: 0.2rem;
}

.header .header-links a.active {
  color: var(--color-text);
  border-bottom: 2px solid var(--color-text);
}

.hero-name {
  font-weight: 500;
  font-size: 1rem;
  text-decoration: underline;
  color: var(--color-link);
}

/* ---------------------------------------------
   CV Block
--------------------------------------------- */

.section-title {
  margin-top: var(--space-xl);
  margin-bottom: var(--space-sm);
  padding-bottom: var(--space-sm);
  font-size: 0.875rem;
  letter-spacing: 0.5px;
  color: var(--color-link)
}

.cv-item {
  margin-bottom: var(--space-md);
  padding-bottom: 2rem;
}

.cv-item .cv-header h3 {
  font-size: 0.875rem;
  font-weight: normal;
}

.duration {
  font-size: 0.9rem;
  color: var(--color-muted);
}

.cv-bullets {
  margin-top: var(--space-sm);
  padding-left: 1.2rem;
  list-style: disc;
  color: var(--color-text);
}

.cv-bullets .skill-category {
  font-weight: 500;
  text-decoration: underline;
}

.cv-bullets li {
  margin-bottom: 5px;
}

#contact .cv-item {
  padding-bottom: 0;
  margin-bottom: 8px;
}

/* ---------------------------------------------
   Projects Block
--------------------------------------------- */

.project-item {
  margin-bottom: var(--space-md);
  padding-bottom: 2rem;
}

.project-item .color-muted {
  color: var(--color-muted);
}

.project-item .project-header {
  font-size: 0.875rem;
  font-weight: normal;
}

.project-item .project-header .title {
  font-size: 0.875rem;
  color: var(--color-text);
}

.project-item .project-header .desc {
  margin: 1rem 0;
}

.project-item .project-header .url {
  margin: 1rem 0;
}

.project-tags {
  margin: 0;
  padding: 0;
  display: flex;
}

.project-tags li {
  list-style: none;
  padding: 0.25rem 1.25rem;
  border: 1px solid var(--color-muted);
  border-radius: 8px;
  margin-right: 1rem;
  font-size: 0.875rem;
  color: var(--color-muted);
}

/* ---------------------------------------------
   Responsive
--------------------------------------------- */

@media (max-width: 768px) {
  .container {
    padding: 1.5rem;
  }

  .header {
    display: block;
  }

  .header .header-title {
    margin-bottom: 2rem;
  }

}